.footer{
  width: 100vw;
  height: 4.5rem;
  background:linear-gradient(rgba(16, 1, 35, 0.105),rgba(44, 2, 74, 0.717) );
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: small;
}